body{
    background-color: #F2F2F2;
}
.section_banner{
    height: 100vh;
}
.section_banner .cont_banner{
    position: relative;
    width: 100%;
    height: 100%;
}
.section_banner .cont_banner .fondo_banner{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #00000070;
}
.section_banner .cont_banner .fondo_banner .menu_banner{
    position: absolute;
    top: 40px;
    left: 40px;
    cursor: pointer;
}
.section_banner .cont_banner .fondo_banner .menu_banner .nav_iz{
    background-color: #0000006e;
}
.section_banner .cont_banner .fondo_banner .menu_banner .nav_iz .offcanvas-header{
    padding: 30px 50px !important; 
}
.section_banner .cont_banner .fondo_banner .menu_banner .nav_iz .offcanvas-header h5{
    color: #ffffff;
}
.section_banner .cont_banner .fondo_banner .menu_banner .nav_iz .offcanvas-header button{
    color: #ffffff;
    float: right;
    padding: 0px;
    position: absolute;
    right: 20px;
}
.section_banner .cont_banner .fondo_banner .menu_banner .nav_iz .offcanvas-body{
    padding: 30px 50px !important;
}
.section_banner .cont_banner .fondo_banner .menu_banner ul{
    padding: 0px;
    list-style: none;
    margin: 0px;
}
.section_banner .cont_banner .fondo_banner .menu_banner ul li{
    padding: 25px 0px;
}
.section_banner .cont_banner .fondo_banner .menu_banner ul li a{
    font-family: 'Gotham'; 
    padding: 5px 0px;
    color: #ffffff;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.3s ease;
}
.section_banner .cont_banner .fondo_banner .menu_banner ul li:hover a{
    border-bottom: 1px solid #ffffff;
}
.section_banner .cont_banner .fondo_banner .menu_banner .nav_iz .offcanvas-bottom{
    padding: 30px 50px !important;
}
.section_banner .cont_banner .fondo_banner .menu_banner .nav_iz .offcanvas-bottom ul li{
    padding: 10px 0px; 
}
.section_banner .cont_banner .fondo_banner .menu_banner .nav_iz .offcanvas-bottom .lenguaje{
    margin: 30px 0px 0px 0px;
}
.section_banner .cont_banner .fondo_banner .menu_banner .nav_iz .offcanvas-bottom .lenguaje a{
    color: #ffffff;
    display: flex;
    align-items: center;
    text-decoration: none;
}
.section_banner .cont_banner .fondo_banner .btn_boook_banner{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.section_banner .cont_banner .fondo_banner .btn_boook_banner a{
    font-family: "Montserrat", sans-serif;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    width: 195px;
    text-align: center;
    margin: auto;
    border: 1px solid #ffffff;
    padding: 12px 14px 12px 24px;
    border-radius: 50px;
    cursor: pointer;
}
.section_banner .cont_banner .fondo_banner .btn_boook_banner a img{
    width: 31px;
    height: auto !important;
}
.section_banner .cont_banner .fondo_banner .btn_boook_banner .offcanvas-body h3{
    font-family: 'FreightDisp Black';
    font-size: 16px;
    font-weight: 900;
    font-style: italic;
}
.section_banner .cont_banner .fondo_banner .btn_boook_banner .offcanvas-body p{
    font-family: FreightDisp Medium;
    font-size: 32px;
    font-style: italic;
}
.section_banner .cont_banner .fondo_banner .btn_boook_banner .offcanvas-body form .dates_input .d-flex{
    align-items: center;
    border-bottom: 1px solid #797979;
}
.section_banner .cont_banner .fondo_banner .btn_boook_banner .offcanvas-body form .dates_input label{
    font-size: 16px;
    width: 50%;
    padding-bottom: 10px;
}
.section_banner .cont_banner .fondo_banner .btn_boook_banner .offcanvas-body form .dates_input input{
border: 0px;
    padding: 0px 10px 10px 15px;
    width: 50%;
}
.section_banner .cont_banner .fondo_banner .btn_boook_banner .offcanvas-body form label{
    font-family: 'FreightDisp Light';
    color: #797979;
    font-style: italic;
    font-size: 16px;
}
.section_banner .cont_banner .fondo_banner .btn_boook_banner .offcanvas-body form select{
    border-color: #797979;
    border-radius: 0px;
    padding: 18px;
    font-family: 'FreightDisp Light';
    color: #797979;
    font-size: 16px;
    font-style: italic;
}
.section_banner .cont_banner .fondo_banner .btn_boook_banner .offcanvas-body form .btn_plan_your{
    margin: 20px 0px 0px 0px;
    background-color: #000000;
    color: #ffffff;
    font-family: 'Gotham';
    font-size: 12px;
    padding: 13px 30px;
    border-radius: 0px;
}
.section_banner .cont_banner .img_banner{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*SECTION ABOUT*/

.section_about{
    padding: 112px 0px;
}
.section_about .card_about{
    background-color: #ffffff;
    padding: 40px;
    border-radius: 15px;
    position: absolute;
    width: 100%;
    left: -200px;
    top: 80px;
}
.section_about .card_about h3{
    font-family: FreightDisp Medium;
    font-style: italic;
    font-size: 36px;
}
.section_about .card_about a{

}
.section_about .card_about .read_more{
        font-family: Montserrat;
    font-weight: 600;
    text-decoration: none;
    font-size: 16px;
    color: #000000;
    border: 1px solid #000000;
    padding: 10px 15px;
}

/*SECTION BOLETIN*/
.section_boletin .banner_boletin img{
    object-fit: cover;
    width: 100%;
}
.section_boletin .fondo_boletin_form{
    background-color: #C8C8C8;
    padding: 130px 0px;
    text-align: center;
}
.section_boletin .fondo_boletin_form h3{
    font-family: FreightDisp Medium;
    font-style: italic;
}
.section_boletin .fondo_boletin_form p{
    font-family: 'Gotham'; 
}
.section_boletin .fondo_boletin_form form input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid;
    border-radius: 0px;
}
.section_boletin .fondo_boletin_form form label{
    font-size: 20px;
    background-color: transparent;
}
.section_boletin .fondo_boletin_form form label::after{
    background-color: transparent !important;
}
.section_boletin .fondo_boletin_form form button{
    font-family: Montserrat;
    font-weight: 600;
    font-size: 16px;
    width: 190px;
    height: 43px;
    padding: 8px 0px;
    border: 1px solid #000000;
    background-color: transparent;
}
